.btn{
    background-color: $lightgray;
    padding: 10px 20px;
    border: 1px solid $brown;
    color: $brown;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s all;

    @include notebook{
        font-size: 14px;
    }

    &:hover{
        color: $white;
        border-color: $bordo;
        background-color: $bordo;
    }

    &--reverse{
        color: $white;
        background-color: $bordo;
        border-color: $white;
        min-width: 220px;
        text-align: center;
        line-height: 22px;

        &:hover{
            color: $brown;
            background-color: $lightgray;
            border-color: $brown;
        }
    }
}