.contacts{
    background: url(../img/map.jpg) center center no-repeat;
    background-size: cover;
    padding: 120px 0;
    
    @include tablets{
        margin-top: 372px;
    }

    &__wrap{
        display: flex;
        justify-content: flex-start;
    }

    &__descr-wrap{
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 60px;
    }

    &__title{
        color: $black;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .tel{
        color: $black;
        margin-right: 0;
        font-weight: normal;
        font-size: 16px;

        @include tablets{
            font-size: 14px;
        }
    }

    .mail{
        color: $bordo;
        margin-right: 0;
        font-size: 16px;

        @include tablets{
            font-size: 14px;
        }
    }

    .address{
        color: $black;
        padding-top: 0;
    }

    .social{
        margin-top: 30px;
        display: flex;
    }
}
