.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax-mirror{
    margin-bottom: -50px;
}

.founder{
    padding: 50px 0;
    position: relative;

    @include notebook{
        padding-top: 20px;
    }

    @include tablets{
        padding-bottom: 0;
        background: url(../img/founder.jpg) center center no-repeat;
        background-size: cover;
    }

    &__text-wrap{
        display: flex;
        justify-content: flex-end;

        @include tablets{
            position: absolute;
            bottom: -93%;
            min-height: 372px;
            left: 0;
        }
    }

    &__text{
        background-color: $black-rgba;
        color: $white;
        font-size: 18px;
        padding: 30px;
        max-width: 420px;
        line-height: 30px;

        @include notebook{
            font-size: 16px;
            max-width: 370px;
        }

        @include tablets{
            font-size: 14px;
            line-height: 24px;
            max-width: none;
        }
    }
}