//colors
$white: #ffffff;
$black: #000000;
$black-rgba: rgba(0, 0, 0, 0.8);
$brown: #402718;
$lightgray: #fefefe;
$gray: #9a9a9a;
$bordo: #ae4645;
$bordo-rgba: rgba(174, 70, 69, 0.8);
// $red: #b33837;

